<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file> <!-- Specify the file path -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize> <!-- Set the maximum file size (5 MB in this example) -->
            <totalSizeCap>10GB</totalSizeCap> <!-- Optional: Set the total size cap for all log files -->
            <maxHistory>7</maxHistory> <!-- Optional: Number of historical log files to keep -->
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

<!--    <logger name="org.example.App" level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->
</configuration>
